html, body {
  height: 100%;
}

body {
    font-family: 'Roboto', arial, sans-serif;
    color: #222;
    margin: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}


/* Navbar */

#navbar-container-main {
    display: flex;  
}

#navbar-container-main a:hover {
  text-decoration: underline;
}


#navbar-container-sub-one {
  display: flex; 
  background-color: #fff; 
  padding: 10px;
  justify-content: flex-start;
  width: 25%;
  padding: 1.2em;
}


#navbar-container-one {background-color: #fff; align-self: center; padding: 0.7em}
#navbar-container-two {background-color: #fff; align-self: center; padding: 0.7em}


#navbar-container-sub-two {
  background-color: #FFF; 
  padding: 1em;
  width: 75%;
  padding: 1.2em;
}
#navbar-container-sub-three {display: flex; justify-content: flex-end; align-items: center;}

#navbar-container-three {background-color: #fff; align-self: center; padding: 0.7em;}
#navbar-container-four {background-color:  #fff; align-self: center; padding: 0.7em;}
#navbar-container-five {
  background-color:  #fff; 
  align-self: center; 
  margin-left: 2em;
  margin-top: 0.3em;  
}

#navbar-container-five span {
  padding: 0.3em
}
#navbar-container-five-sub {
  margin-bottom: 0.2em;
}

#navbar-container-five-sub:hover {
  border-radius: 100%;
  background-color: rgb(241, 240, 240);
}

#navbar-container-six {
  padding: 0.5em 2em 0.5em 2em;
  margin-left: 0.7em;
  align-self: center;
  background-color: #1a73e8;
  border-radius: 0.15em;  
}

#navbar-container-six:hover {
  
  background-color: #1a8be8;
}

#navbar-container-six a:hover {
  text-decoration: none;

}


#navbar-container-six a:link { color:#FFF;}
#navbar-container-six a:visited { color:#FFF;}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:link {
  color: #222;
}

a:visited {
  color: #222;
}

/* End Navbar */

/* Logo */
.logo-google-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 100%;
}

.logo-sub-div {
  display: flex;
  background-color: #FFF;
  padding: 1em;
  margin-top: -10em;
}

.logo-sub-div img{
 
}
/* End Logo */

/* Search Bar */


#search-container {
display: flex;
justify-content: row;
border-style: solid;
border-color: #f2f2f2;
border-width: 0.17em;
border-radius: 3em;
padding: 0.5em;
margin: 0em;
width: 25em;
}

#search-container:hover {
  box-shadow: 0px 0px 2px rgb(73, 73, 73);
 
}

.form-div {
  width: 100%;
  display: flex;
  margin: 0em;
  padding: 0em;
}
.form-div form {
  width: 100%;
  display: flex;
  margin-left: 0.5em;
}

.form-div input {
  width: 100%;
  border: none;
  outline: none;
}
.form-div span {
  
}
 
/* End Search Bar */

/*Sub Button Start*/

.sub-button-div button{
  background-color: #f8f9fa;
  border: none;
  margin-top: 2em;
  padding: 1em 1.5em 1em 1.5em;
  border-radius: 0.3em;
  
}

.sub-button-div button:hover {

  box-shadow: 0px 0px 2px rgb(73, 73, 73);
}

.sub-button-div-one {
  margin-right: 0.8em;
}

/* Sub Button End*/




/* Footer */
footer {
  background-color:#f8f9fa;
  padding: 4em 2em 1.3em 2em;
  display: flex;
  flex-direction: row;
 
}

footer a:hover {
  text-decoration: underline;
}

footer a {
  margin: 0em 1em 0em 1em;
}


.footer-content-one {


  flex-grow: 1;
  display: flex;
 
}

.footer-content-two {

  
  flex-grow: 1;

  display: flex;
  justify-content: flex-end;
}

/* Footer End */




@media only screen and (max-width: 688px) {
  footer {flex-direction: column;}
  .footer-content-one {width:100%; justify-content: center;}
  .footer-content-two {width:100%; justify-content: center;}
  #search-container {width: 75%;}
 

}



@media only screen and (min-width: 992px) {
  #navbar-container-six {
   padding: 0.5em 0.7em 0.5em 0.7em;
  }
  
 
  #search-container {width: 35em;}
}



 

